*{
  box-sizing: border-box;
}
button{
  border: none;
  background: transparent;
}
ul{
  padding: 0;
}
dd{
  margin: 0;
}

.view-pc{
  display: block;
}
.view-sp{
  display: none;
}

h2{
  color: #DD1B57;
  font-size: 40px;
  font-weight: bold;
}

li{
  list-style: none;
}

a{
  color: #333;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.header__menu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gnav{
  .gnav__list{
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .gnav__link{
    color: #151515;
    font-size: 16px;
    font-weight: bold;
  }

  .gnav__link-current{
    color: #DD1B57;
  }
}



.spMenu{
  position: relative;
  width: 60px;
  height: 60px;
  .spMenu__openMenu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: #DD1B57;
    width: 200px;
    height: 100%;
    z-index: 100;
  }
  .spMenu__openMenu-active{
    display: block;
  }
  .spMenu__close{
    position: absolute;
    right: 0;
  }
  .spMenu__list{
    margin: 85px 0 0;
    text-align: center;
  }
  .spMenu__item{
    margin: 0 0 20px;
  }
  .spMenu__link{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  .spMenu__link-current{
    opacity: 0.8;
  }
}

.header__mv{
  width: 100%;
  img{
    width: 100%;
  }
}

.contents{
  width: 1400px;
  margin: 0 auto;
}


.c-news_list{
  li{
    border-bottom: 1px solid #E8E8E8;
    padding: 20px 0;
  }

  .c-news_day{
    font-family: 'Roboto', sans-serif;
  }
}

//トップページ
.news{
  display: flex;
  margin: 45px 0 0;
}

.service{
  display: block;
  position: relative;
  margin: 90px 0 0;
  &::before{
    position: absolute;
    content: "SERVICE";
    top: -20%;
    right: 0;
    color: #F2F2F2;
    font-size: 168px;
    font-weight: bold;
    z-index: -1;
  }
  .service__list{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 45px 0 0;
  }
  .service__item{
    width: 350px;
    min-height: 266px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    display: block;
    padding: 33px;
  }
  .service__title{
    text-align: center;
    margin: 0 0 12px;  
  }
  .service__subtitle{
    font-size: 18px;
    font-weight: bold;
  }
  .service__explanation{
    margin: 20px 0 0;
  }
}
//トップページここまで

//メッセージ
.message{
  display: flex;
  flex-flow: column;
  align-items: center;

  .message__subtitle{
    text-align: center;
  }

  .message__title{
    text-align: center;
  }

  .message__main{
    margin: 40px 0 60px;
  }
  .message__ceo{
    float: left;
    margin: 0 15px 20px 0;
  }


}

//メッセージここまで

//会社概要
.overview{
  .overview__list{
    margin: 70px 0 50px;
  }
  
  .overview__element{
    display: flex;
    align-items: center;
    gap: 120px;
    border-bottom: 1px solid #E8E8E8;
    padding: 25px 20px;
  }
  .overview__title{
    font-weight: bold;
    min-width: 80px;
  }
  .overview__map{
    margin: 0 0 110px;
    iframe{
      width: 100%;
    }
  }
}

//会社概要ここまで

.footer__container{
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  gap: 15px;
  width: 100%;
  margin: 90px 0 0;
  padding: 60px 60px 50px 160px;
  background: #DD1B57;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.footer__list{
  display: flex;
  gap: 30px;
}

.footer__link{
  color: #fff;
}

//PC版
@media screen and (min-width: 769px) {
  .header__menu{
    padding: 25px 35px;
  }
  .news{
    gap: 64px;
  }
  .c-news_link{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .message{
    .message__main{
      width: 790px;
    }
  }
}

//SP版
@media screen and (max-width: 768px){

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .view-pc{
    display: none;
  }
  .view-sp{
    display: block;
  }

  h2{
    font-size: 32px;
    margin: 20px 0 0;
  }

  .header__menu{
    padding: 0 0 0 25px;
    .top__img{
      width: 107px;
      height: 21px;
    }
  }

  .contents{
    width: 100%;
    padding: 0 20px;
  }
//ニュース
  .news{
    flex-flow: column;
    .c-news_list{
      padding: 0;
    }
  }
  .c-news_day{
    margin: 0 0 5px;
  }
//ニュースここまで
//サービス
  .service{
    margin: 50px 0 0;
    &::before{
      top: -2%;
      right: -5%;
      font-size: 70px;
    }
    .service__list{
      align-items: center;
      flex-flow: column;
      gap: 20px;
      padding: 0;
      margin: 15px 0 0;
    }
    .service__item{
      min-height: 246px;
      padding: 35px;
    }
  }
//サービスここまで

//メッセージ
.message{
  .message__title{
    font-size: 24px;
  }
  .message__subtitle{
    margin: 25px 0 0;
  }
  .message__main{
    margin: 25px 0 40px;
  }
  .message__sentence{
    font-size: 15px;
  }
  .message__office{
    object-fit: cover;
    width: 100%;
    height: 260px;    
  }
}

//メッセージここまで

  .footer__container{
    gap: 20px;
    margin: 70px 0 0;
    padding: 40px 20px 30px;
  }
}