*{
  box-sizing: border-box;
}

.view-pc{
  display: block;
}
.view-sp{
  display: none;
}

h2{
  color: #DD1B57;
  font-size: 40px;
  font-weight: bold;
}

li{
  list-style: none;
}

a{
  color: #333;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.header__menu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px;
}

.gnav__list{
  display: flex;
  align-items: center;
  gap: 30px;
}

.gnav__link{
  color: #151515;
  font-size: 16px;
  font-weight: bold;
  &-actiive{
    color: #DD1B57;
  }
}

.header__mv{
  width: 100%;
  img{
    width: 100%;
  }
}

.contents{
  width: 1200px;
  margin: 0 auto;
}


.c-news_list{
  li{
    border-bottom: 1px solid #E8E8E8;
    padding: 20px 0;
  }

  .c-news_day{
    font-family: 'Roboto', sans-serif;
  }
}

//トップページ
.news{
  display: flex;
}

.service{
  display: block;
  margin: 90px 0 0;
  .service__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 45px 0 0;
  }
  .service__item{
    width: 350px;
    border-radius: 10px;
    display: block;
    padding: 50px;
    box-shadow: 1px #333;
  }
  .service__img{
    text-align: center;
  }
  .service__subtitle{
    font-size: 18px;
    font-weight: bold;
  }
  .service__explanation{
    margin: 20px 0 0;
  }
}
//トップページここまで

//メッセージ
.message{
  display: flex;
  flex-flow: column;
  align-items: center;

  .message__subtitle{
    text-align: center;
  }

  .message__title{
    text-align: center;
  }

  .message__main{
    width: 790px;
    margin: 40px 0 60px;
  }
  .message__ceo{
    float: left;
    margin: 0 15px 20px 0;
  }


}

//メッセージここまで

//会社概要
.overview{
  .overview__list{
    margin: 70px 0 50px;
  }
  
  .overview__element{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    padding: 25px 20px;
  }
  .overview__title{
    font-weight: bold;
  }
  .overview__map{
    margin: 0 0 110px;
    iframe{
      width: 100%;
    }
  }
}

//会社概要ここまで

.footer__container{
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  gap: 15px;
  width: 100%;
  margin: 90px 0 0;
  padding: 60px 60px 50px 160px;
  background: #DD1B57;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.footer__list{
  display: flex;
  gap: 30px;
}

//PC版
@media screen and (min-width: 769px) {
  .news{
    gap: 64px;
  }
  .c-news_link{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

//SP版
@media screen and (max-width: 768px){

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .view-pc{
    display: none;
  }
  .view-sp{
    display: block;
  }

  h2{
    font-size: 32px;
    margin: 20px 0 0;
  }

  .contents{
    width: 100%;
    padding: 0 20px;
  }
//ニュース
  .news{
    flex-flow: column;
    .c-news_list{
      padding: 0;
    }
  }
  .c-news_day{
    margin: 0 0 5px;
  }
//ニュースここまで
//サービス
  .service{
    margin: 50px 0 0;
    .service__list{
      flex-flow: column;
      gap: 20px;
      padding: 0;
      margin: 0;
    }
    .service__item{
      padding: 35px;
    }
    .service__title{
      text-align: center;
    }
  }
//サービスここまで

  .footer__container{
    gap: 20px;
    margin: 70px 0 0;
    padding: 40px 20px 30px;
  }
}