*,*::before,*::after{
  box-sizing: border-box;
}
body{
  font-family: "Roboto", "Noto Sans JP", Arial, 
  "Hiragino Kaku Gothic ProN", "Hiragino Sans",
   Meiryo, sans-serif;
  margin: 0;
}
button{
  border: none;
  background: transparent;
}
ul{
  padding: 0;
  margin: 0;
}
dd,p{
  margin: 0;
}

.view-pc{
  display: block;
}
.view-sp{
  display: none;
}

h2{
  color: #DD1B57;
  font-size: 250%;
  font-weight: bold;
  margin: 0;
}

li{
  list-style: none;
}

a{
  color: #333;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.header__menu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gnav{
  .gnav__list{
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .gnav__link{
    color: #151515;
    font-size: 16px;
    font-weight: bold;
  }

  .gnav__link-current{
    color: #DD1B57;
  }
}



.spMenu{
  position: relative;
  width: 60px;
  height: 60px;
  .spMenu__openMenu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: #DD1B57;
    width: 200px;
    height: 100%;
    z-index: 100;
  }
  .spMenu__openMenu-active{
    display: block;
  }
  .spMenu__close{
    position: absolute;
    right: 0;
  }
  .spMenu__list{
    margin: 90px 0 0;
    text-align: center;
  }
  .spMenu__item{
    margin: 0 0 25px;
  }
  .spMenu__link{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  .spMenu__link-current{
    opacity: 0.8;
  }
}

.header__mv{
  width: 100%;
  img{
    width: 100%;
  }
}

.contents{
  width: 1110px;
  margin: 0 auto;
}


.c-news_list{
  li{
    border-bottom: 1px solid #E8E8E8;
    padding: 15px 5px 0 0;
    &:first-child{
      padding: 0 0 15px;
    }
  }

  span{
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 500;
    line-height: 27px;
  }

  .c-news_day{
    font-family: 'Roboto';
  }

}

//トップページ
.news{
  display: flex;
  margin: 45px 0 0;
}

.service{
  display: block;
  position: relative;
  margin: 90px 0 100px;
  &::before{
    color: #F2F2F2;
    content: "SERVICE";
    display: block;
    font-family: "Roboto";
    font-size: 168px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    right: 28%;
    top: 16%;
    transform: translate(50%, -50%);
    z-index: -1;
  }
  .service__list{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0 0;
  }
  .service__item{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 1px #333;
    display: block;
    padding: 50px;
    min-height: 266px;
    width: 350px;
  }
  .service__title{
    text-align: center;
    margin: 0 0 20px;  
  }
  .service__subtitle{
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
  }
  .service__explanation{
    font-family: sans-serif;
    font-size: 88%;
    font-weight: 500;
    line-height: 24px;
    margin: 20px 0 0;
  }
}
//トップページここまで

//メッセージ
.message{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 60px 0 100px;

  .message__subtitle{
    text-align: center;
  }

  .message__title{
    margin: 0 0 20px;
    text-align: center;
  }

  .message__main{
    margin: 40px 0 80px;
  }
  .message__ceo{
    float: left;
    margin: 0 25px 28px 0;
  }

  .message__sentence{
    a{
      color: #349BF4;
      text-decoration: underline;
    }
  }
}

//メッセージここまで

//会社概要
.overview{
  margin: 0 0 110px;
  .overview__list{
    margin: 40px 0 50px;
  }
  
  .overview__element{
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    font-size: 94%;
    gap: 129px;
    padding: 30px;
  }
  .overview__title{
    font-weight: bold;
    min-width: 80px;
  }
  .overview__map{
    margin: 0 0 117px;
    iframe{
      width: 100%;
    }
  }
}

//会社概要ここまで

.footer__container{
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  gap: 20px;
  width: 100%;
  padding: 60px 165px 50px;
  background: #DD1B57;
  color: #fff;
  font-weight: bold;
}

.footer__list{
  display: flex;
  gap: 20px;
}

.footer__link{
  color: #fff;
  font-family: sans-serif;
  font-size: 88%;
}

.footer__copyright{
  font-family: 'Roboto';
  font-size: 75%;
}

//PC版
@media screen and (min-width: 769px) {
  .header__menu{
    padding: 28px 70px;
  }
  .news{
    gap: 90px;
    .c-news_list{
      width: 855px;
    }
  }
  .c-news_link{
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 94%;
    gap: 20px;
    line-height: 2.7;
  }

  .message{
    .message__main{
      width: 790px;
    }
    .message__sentence{
      a:hover{
        text-decoration: none;
      }
    }
  }
}

//SP版
@media screen and (max-width: 768px){

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .view-pc{
    display: none;
  }
  .view-sp{
    display: block;
  }

  h2{
    font-size: 200%;
    margin: 0 0 20px;
  }

  .header__menu{
    padding: 0 0 0 20px;
    .top__img{
      width: 107px;
      height: 21px;
    }
  }

  .contents{
    width: 100%;
    padding: 0 20px;
  }
//ニュース
  .news{
    flex-flow: column;
    margin: 40px 0 0;
  }
  .c-news_list{
    padding: 0;
    width: 100%;
    span{
      font-size: 94%;
      line-height: 24px;
    }
  }
  .c-news_link{
    display: flex;
    flex-flow: column;
  }
  .c-news_day{
    font-weight: 500;
    font-size: 94%;
  }
//ニュースここまで
//サービス
  .service{
    margin: 52px 0 0;
    &::before{
      font-size: 70px;
      right: -46%;
      transform: translate(-50%, -48%);
      top: 5%;
    }
    .service__list{
      align-items: center;
      flex-flow: column;
      gap: 20px;
      padding: 0;
      margin: 0 0 75px;
    }
    .service__item{
      min-height: 246px;
      padding: 45px 30px 40px;
      width: 100%;
    }
  }
//サービスここまで

//メッセージ
.message{
  margin: 40px 0 60px;
  .message__title{
    font-size: 24px;
    margin: 0 0 15px;
  }
  .message__main{
    margin: 25px 0 50px;
  }
  .message__sentence{
    font-size: 15px;
  }
  .message__ceo{
    margin: 0 15px 17px 0;
  }
  .message__office{
    object-fit: cover;
    width: 100%;
    height: 260px;    
  }
}

//メッセージここまで

.overview{
  margin: 0 0 60px;
  .overview__element{
    gap: 30px;
    padding: 20px 15px 20px 0;
  }
  .overview__title{
    font-size: 93%;
  }
  dd{
    font-size: 93%;
  }
  .overview__map{
    margin: 0 0 50px;
  }
}
  footer{
    .footer__container{
      gap: 25px;
      padding: 42px 20px 32px;
    }
    .footer__list{
      gap: 25px;
    }
    .footer__link{
      font-size: 75%;
    }

    .footer__copyright{
      font-size: 62%;
    }
  }
  
}